Django==2.1.3
django-celery==3.2.2
django-celery-beat==1.1.1
django-celery-results==1.0.1
django-redis==4.10.0
django-guardian==1.4.9
mysqlclient==1.3.13
six==1.11.0
celery==4.2.0
requests==2.19.1
PyYAML==3.13
colorama==0.3.9
colorlog==3.1.4
jinja2==2.10
requests_toolbelt==0.8.0
flower==1.2.0
locustio==0.9.0