{% load staticfiles %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<!-- VENDOR CSS -->
<link rel="stylesheet" href="{% static '/frame/vendor/bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static '/frame/vendor/font-awesome/css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static '/frame/vendor/linearicons/style.css' %}">
<link rel="stylesheet" href="{% static '/frame/vendor/chartist/css/chartist-custom.css' %}">
<link rel="stylesheet" href="{% static '/frame/vendor/toastr/toastr.min.css' %}">
<link rel="stylesheet" href="{% static '/frame/vendor/zebra/css/zebra_tooltips.css' %}">
<link rel="stylesheet" href="{% static '/frame/vendor/selectivity/stylesheets/selectivity-jquery.css' %}">
<link rel="stylesheet" href="{% static '/frame/vendor/datatables/css/jquery.dataTables.css' %}">
<link rel="stylesheet" href="{% static '/frame/vendor/postbirdalertbox/css/postbirdAlertBox.css' %}">


<!-- MAIN CSS -->
<link rel="stylesheet" href="{% static '/frame/css/main.css' %}">
<!-- GOOGLE FONTS -->
<link rel="stylesheet" href="{% static '/frame/vendor/googleapis-fonts/fonts.css' %}">
<!-- ICONS -->
<link rel="apple-touch-icon" sizes="76x76" href="{% static '/frame/img/apple-icon.png' %}">
<link rel="icon" type="image/png" sizes="96x96" href="{% static '/frame/img/favicon.png' %}">
<link rel="stylesheet" href="{% static '/frame/vendor/modal/css/modal.css' %}">

