{% load staticfiles %}
<!-- Javascript -->
<script src="{% static '/frame/vendor/jquery/jquery.min.js' %}"></script>
<!-- <script src="{% static '/frame/vendor/jquery-cookie/jquery.cookie.js' %}"></script> -->
<script src="{% static '/frame/vendor/jquery/jquery.serializejson.js' %}"></script>
<script src="{% static '/frame/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static '/frame/vendor/jquery-slimscroll/jquery.slimscroll.min.js' %}"></script>
<script src="{% static '/frame/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js' %}"></script>
<script src="{% static '/frame/vendor/chartist/js/chartist.min.js' %}"></script>
<script src="{% static '/frame/vendor/toastr/toastr.min.js' %}"></script>
<!-- <script src="{% static '/frame/scripts/klorofil-common.js' %}"></script> -->
<script src="{% static '/frame/vendor/modal/js/modal.js' %}"></script>
<script src="{% static '/frame/scripts/reconnecting-websocket.js' %}"></script>
<script src="{% static '/frame/vendor/zebra/js/zebra_tooltips.js' %}"></script>
<script src="{% static '/frame/vendor/selectivity/javascripts/selectivity-jquery.js' %}"></script>
<script src="{% static '/frame/vendor/datatables/js/jquery.dataTables.js' %}"></script>
<script src="{% static '/frame/vendor/postbirdalertbox/js/postbirdAlertBox.js' %}"></script>
<script src="{% static '/frame/js/router.js' %}"></script>
<script src="{% static '/frame/js/utils.js' %}"></script>
<script src="{% static '/frame/vendor/layer/layer.js' %}"></script>
<script src="{% static '/frame/js/md5.min.js' %}"></script>

<script src="//apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>

<!-- <link rel="stylesheet" href="//apps.bdimg.com/libs/jqueryui/1.10.4/css/jquery-ui.min.css">
<script src="//apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>

<link rel="stylesheet" href="jqueryui/style.css"> -->