{% extends 'frame/base.html' %}
{% load staticfiles %}
{% block title_block %}
	权限
{% endblock %}
{% block body_block %}
<div class="main">
	<!-- MAIN CONTENT -->
	<div class="main-content">
		<div class="container-fluid">
			<h3 class="page-title">权限中</h3>
			<div class="row">
				<div class="col-md-8">
					<!-- PANEL HEADLINE -->
					<div class="panel panel-headline">
						<div class="panel-heading">
							<h3 class="panel-title">权限中</h3>
							<p class="panel-subtitle">权限中</p>
						</div>
						<div class="panel-body">
							<h4>权限中</h4>
							<p>权限中</p>
						</div>
					</div>
					<!-- END PANEL HEADLINE -->
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END MAIN CONTENT -->
{% endblock %}
